{% extends "base.html" %}
{% load static i18n %}

{% block title %}{% trans "Gleymt lykilorð" %} - {{ block.super }}{% endblock %}

{% block content %}
<div class="page-content">
    <div class="main-content">
        <h1>{% trans "Gleymt lykilorð" %}</h1>
        
       
        
        <div style="text-align: center; margin-top: 2rem;">
            <a href="{% url 'login' %}" style="color: #10099F; text-decoration: underline;">
                {% trans "Til baka í innskráningu" %}
            </a>
        </div>
    </div>
</div>
{% endblock %}