{% extends "base.html" %}
{% load i18n i18n_extra %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% endblock %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}
<article class="blog-article">
    <header class="blog-header">
        <h1>{{ page.title }}</h1>
        <div class="blog-meta">
            <time datetime="{{ page.date|date:'Y-m-d' }}">{{ page.date|date:"F j, Y" }}</time>
            {% if page.authors.all %}
                <div class="blog-authors">
                    {% for author in page.authors.all %}
                        <div class="blog-author">
                            {% if author.author_image %}
                                {% image author.author_image fill-40x40 class="author-image" %}
                            {% endif %}
                            <span>{{ author.name }}</span>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </header>

    {% if page.thumbnail_image %}
        <div class="blog-featured-image">
            {% image page.thumbnail_image width-800 height-300 %}
        </div>
    {% endif %}

    {% if page.intro %}
        <div class="blog-intro">
            {{ page.intro }}
        </div>
    {% endif %}

    <div class="blog-content">
        {{ page.body|richtext }}
    </div>

    {% if page.gallery_images.all %}
        <div class="blog-gallery">
            {% for item in page.gallery_images.all %}
                <div class="gallery-item">
                    {% image item.image fill-200x150 %}
                    {% if item.caption %}
                        <div class="gallery-caption">
                            {{ item.caption }}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endif %}
</article>
{% endblock %}
