{% extends "base.html" %}
{% load i18n i18n_extra %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block content %}
<article>
    <header>
        <h1 class="font-serif underline">{{ page.title }}</h1>
        <div>
            <time datetime="{{ page.date|date:'Y-m-d' }}">{{ page.date|date:"F j, Y" }}</time>
            {% if page.authors.all %}
                <div>
                    {% for author in page.authors.all %}
                        <div>
                            {% if author.author_image %}
                                {% image author.author_image fill-40x40%}
                            {% endif %}
                            <span>{{ author.name }}</span>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </header>

    {% if page.thumbnail_image %}
        <div>
            {% image page.thumbnail_image width-800 height-300 %}
        </div>
    {% endif %}

    {% if page.intro %}
        <div>
            {{ page.intro }}
        </div>
    {% endif %}

    <div>
        {{ page.body|richtext }}
    </div>

    {% if page.gallery_images.all %}
        <div>
            {% for item in page.gallery_images.all %}
                <div>
                    {% image item.image fill-200x150 %}
                    {% if item.caption %}
                        <div>
                            {{ item.caption }}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endif %}
	<ul>
		{% for tag in page.tagged_items.all %}
			<li>{{ tag.tag.name }}</li>
		{% endfor %}
	</ul>

</article>
{% endblock %}
