{# templates/includes/footer.html #}
{% load static wagtailcore_tags %}
{% load i18n i18n_extra %}

<footer class="site-footer">
  <div class="footer-grid">

    {# -- Column 0 : logo -- #}
    <div class="footer-col footer-logo">
      <img src="{% static 'images/logo-white.svg' %}"
           alt="Gervigeitasetrið / HÍ merki">
    </div>

    {# — Column 1: Address — #}
    <div class="footer-col footer-address">
      <h4>{% trans "HÁSKOLI ÍSLANDS" %}</h4>
      <p>Sæmundargötu 2<br>102 Reykjavík</p>
      <p>Kt. 600169-2039</p>
      <p><a href="https://forms.office.com/pages/responsepage.aspx?id=Dl_6CRghVkaFKWd-2P2-eAJvj7XcxOFLlMZOkktK1mxURDBJREFEUUFJTzFPSkc1RzNBS1U1UklQNi4u">{% trans "Póstlisti" %}</a></p>
      <p><a href="https://hi.is/kort_allt">{% trans "Kort af háskólasvæði" %}</a></p>
    </div>

    {# — Column 2: Opening Hours — #}
    <div class="footer-col footer-hours">
      <h4>{% trans "Opnunartímar" %}</h4>
      <p>{% trans "Aðalbygging" %}: 07:30–17:00</p>
      <p>{% trans "Fös." %}: 07:30–16:00</p>
      <p>{% trans "Háskólatorg" %}: 07:30–19:00</p>
      <p><a href="https://hi.is/haskolinn/haskolabyggingar">{% trans "Allir opnunartímar" %}</a></p>
      <p><a href="https://hi.is/haskolinn/framkvaemda_og_taeknisvid#Umsjonamenn_bygginga">{% trans "Umsjónarmenn bygginga" %}</a></p>
    </div>

    {# — Column 3: Contact — #}
    <div class="footer-col footer-contact">
      <h4>{% trans "Hafðu samband" %}</h4>
      <p>{% trans "Sími" %}: +354 525 4000</p>
      <p><a href="mailto:hi@hi.is">{% trans "Hafa samband : hi@hi.is" %}</a></p>
      <p><a href="https://hi.is/haskolinn/rafraen_voktun">{% trans "Rafræn vöktun" %}</a></p>
      <p><a href="https://ugla.hi.is/kerfi/view/page.php?sid=4428">{% trans "Tilkynna áreitni" %}</a></p>
    </div>

  </div>
</footer>
